@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
    --primary-color: #ffec4c;
    --scoundary-color: #ffd400;
    --bg-color: #425a5d;
    --bg-volor-hover: #165057;
    --bg-color-scoundary: #e4e2fe;
    --bg-primary: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Sarabun", sans-serif;
    color: var(--primary-color);
    min-height: 100vh;
    max-width: 100%;
    font-size: 16px;
}

h1 {
    font-size: 1rem;
    margin: 0 1rem 0 0;
}

header {
    margin: 0 auto;
    min-width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 15px 2.5rem;
    background-color: var(--bg-color);
    color: var(--primary-color);
    
}

header nav .logo {
    font-size: 2rem;
    border-radius: 5%;
    background: linear-gradient(to right, #15fece, #291efc, #f6ff00, #ff0000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: var(--bg-primary);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: 0 1rem;
    color: black
}

header nav ul li {
    list-style: none;
    margin: 1rem 0;
    font-size: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 15px 0;
    margin: 0 15px;
}

header nav ul li a:hover {
    color: var(--scoundary-color);
    border-bottom: 2px solid var(--scoundary-color);
}


header nav .hamberger {
    display: none;
}

header nav .hamberger div {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 5px;
}


@media screen and (max-width: 768px) {
    header nav .hamberger {
        display: block;
    }

    header nav ul {
        display: none;
    }
}




section {
    width: 100%;
    text-align: center;
}

.container {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;

    
}

.about_me {
    width: 100%;
    height: 100vh;
}

.about_me .bg-image {
    background-image: url("image/bg-image/bg-image-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    filter: blur(10px);
    --webkit-filter: blur(10px);
    height: 100vh;
    width: 100%;
}

.about_me .content {
    font-family: "Sarabun", sans-serif;
    margin: 0 auto;
    color: white;
    width: 50%;
    position: absolute;
    top: 30%;
    left: 25%;
}


.content > h1 {
    padding: 15px 0 10px 0;
    text-align: center;
    font-size: 2rem;
}
.content > h2 {
    text-align: center;
    font-size: 1.5rem;
}

.content > img {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: 100% 10%;
}

.content > button {
    margin: 20px 0;
    width: 25%;
    padding: 15px 10px;
    font-size: 1.5rem;
    background-color: #010166;
    color: #ffffff;
    border-radius: 12px;
    border: 1px solid #ffffff;

}

.content > button:hover {
    background-color: #ffffff;
    color: #010166;
    border: 1px solid #000000
}

.title > h1 {
    display: block;
    margin-top: 100px;
    padding: 15px 15px;
    font-size: 2rem;
    background-color: white;
    color: black
}

.title > a {
    color: black
}

.title > a:hover {
    color: rgb(32, 186, 238);
    border-bottom:1px solid #00007c;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
    padding: 15px 15px;
    width: 100%;
    max-height: 100%;
}

.projects > .title {
    position: sticky;
    align-self: flex-start;
    top: 0px
}


.project {
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@media screen and (max-width: 1070px) {
    .project {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

.projects > h1 {
    padding: 15px 0;
    text-align: center;
    font-size: 24px;
}


details > summary {
    list-style: none;
    cursor: pointer;
}

details  p {
    text-overflow: ellipsis;
    padding: 0 1rem 0 1rem;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
}

.pro1 {
    padding: 15px 0;
    color: black;
    box-shadow: 10px 10px 10px var(--bg-color);
    
} 

.pro1 > img {
    object-fit: contain;
    object-position: 50% 50%;
}

.pro1 details {
    width: 300px;    
}
.pro1 details summary {
    width: 200px;
}
.pro2 {
    padding: 15px 0;
    color: black;
    box-shadow: 10px 10px 5px var(--bg-color);
    
} 

.pro2 > img {
    object-fit: contain;
    object-position: 40% 80%;
}

.pro3 > img {
    object-fit: contain;
}

.pro2 details {
    width: 300px;
}
.pro2 details summary {
    width: 150px;
}
.pro3 {
    padding: 15px 0;
    color: black;
    box-shadow: 10px 10px 5px var(--bg-color);
} 

.pro3 details {
    width: 300px;

    
}
.pro3 details summary {
    width: 150px;
}


/* experience css */
.experiences {
    width: 100%;
    height: 100vh;
    margin: 100px 0;
    position: relative;
    top: 100px;

}

.experiences .exp-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
}

.experiences > h1 {
    position: absolute;
    top: -50px;
    left: 44%;
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(to right,#00ce20, #ff2fce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experiences > button {
    width: 25%;
    font-size: 1.5rem;
    padding: 15px 0;
    color: white;
    background: linear-gradient(to right, #00007c, #03cde0, rgb(247, 220, 65));
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0px 10px 20px var(--bg-color);
}

.experiences > button:hover {
    cursor: pointer;
    background: linear-gradient(to right, #ffffff, #ffffff, rgb(255, 255, 255));
    color: black;
    border: 1px solid black;

}

.experiences .exp-content .experience {
    width: 100%;
    margin: 0 20px;
    padding: 15px 0;
    color: black;
    box-shadow: 0px 10px 20px var(--bg-color);
    border: 1px solid black;
}

.experience img {
    object-fit: contain;
    object-position: 50% 50%;
}




.contact {
    margin: 0 auto;
    padding: 15px 15px;
    width: 100%;
    height: 100vh;
    height: fit-content;
    background-color: #3d3d3d;
    color: rgb(255, 255, 255);
    box-shadow: var(--bg-color);
}

.contact .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: transparent;
    color: rgb(245, 245, 245);
    box-shadow: var(--bg-color);
}

.form label {
    margin: 5px 15px;
}

.form label  input {
    padding: 10px 10px;
    margin: 10px 15px;
    border-radius: 5px;
    border: 1px solid black;
}

.form > button {
    padding: 5px 25px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    color: rgb(0, 0, 0)
}

.form > button:hover {
    background-color: var(--bg-volor-hover);
    color: var(--bg-primary)
}






.skillsandtools .detail .tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    background-color: transparent;
    color: black;
}
.skillsandtools .detail .tools > h2 {
    font-size: 1rem;
    text-align: start;
}

.tool > h2 {
    padding: 15px 15px;
    font-size: 16px;
    text-align: start;
}

.exp > span {
    display: block;
    padding: 15px 15px;
    font-size: 16px;
}

footer {
    width: 100%;
    height: initial ;
    text-align: center;
    background-color: rgb(71, 71, 71);
}

footer .social {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 15px 15px;
}

footer .social > a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 15px 15px;
    text-align: center;
    font-size: 1rem;
}

footer .social > a > span {
    margin: 0 20px;
    padding: auto;
}
